div.dayBlock{
    margin-right:1vw;
    display:inline-block;
    width:6%;
}
div#forecasts{
    display:inline-block;
}
h3.dayText{
    text-align:center;
    font-size:.5vw;
}
h3.dayTemp{
    text-align:center;
    font-size:2w;
}
img.dayImage{
    text-align:center;
}
div#hourly{
    display:inline-block;
}
div.hourBlock{
    margin-right:1vw;
    display:inline-block;
    width:10%;
}
h3.hourText{
    text-align:center;
    font-size:1vw;
}
img.hourImage{
    text-align:center;
}
div#sunDisplay{
    position:relative;
    text-align:center;
    height:30vw;
}
span#centersun{
    position:absolute;
    height:2vw;
    width:2vw;
    background-color:black;
    border-radius:50%;
    display:inline-block;
    text-align:center;
    bottom:0;
}
img#sunImage{
    position:absolute;
    height:5vw;
    width:5vw;
}
