div.dayBlock{
    margin-right:1vw;
    display:inline-block;
    width:6%;
}
div#forecasts{
    display:inline-block;
}
h3.dayText{
    text-align:center;
    font-size:.5vw;
}
h3.dayTemp{
    text-align:center;
    font-size:2w;
}
img.dayImage{
    text-align:center;
}

